@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/gray-alpha.css';
@import '@radix-ui/colors/gray-dark-alpha.css';

@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/blue-alpha.css';
@import '@radix-ui/colors/blue-dark-alpha.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: var(--gray-1);
    --boxBg: var(--gray-4);
    --link: var(--blue-10);
  }

  .light {
    --contrast-color: #fff;
  }

  .dark {
    --contrast-color: #0a0a0a;
  }

  body {
    overflow-x: hidden;
    background-color: var(--bg);
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
