{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets/(.*)$",
    "^@/widgets",
    "^@/features/(.*)$",
    "^@/features",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "printWidth": 100,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
