{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
