@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'leaflet/dist/leaflet.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html[data-theme='lightTheme'] {
  --button-text-color: #252525;
  --button-background-color: #ffffff;
  --button-border-color: #4e005c;
  --text-color: #0f0f0f;
  --background-color: #edeef0;
  --icon-color: #040404;
  --disabled-color: #646464;
  --divider-color: #3c3c3c;
  --hover-color: #f2f2f2;
  --object-background-color: #ffffff;
  --object-bagckground-hover: #f2f2f2;
  --object-background-overhover: #e6e6e6;
  --border-main-header-color: #050009f4;
  --border-application-color: #050009f4;
  --object-header-background-color: #c4c4c4;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

html[data-theme='darkTheme'] {
  --button-text-color: #252525;
  --button-background-color: #0f0f0f;
  --button-border-color: #4e005c;
  --text-color: #fff;
  --background-color: #0f0f0f;
  --icon-color: #ffffff;
  --disabled-color: #646464;
  --divider-color: #3c3c3c;
  --hover-color: #272727;
  --object-background-color: #282828;
  --object-bagckground-hover: #3e3e3e;
  --object-background-overhover: #3d3d3d;
  --border-main-header-color: #ffffff9a;
  --border-application-color: #ffffff9a;
  --object-header-background-color: #66545e;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

* {
  padding: 0px;
  margin: 0px;
}

.App {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.leaflet-control-attribution {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  background: var(--background-color);
  color: #ffffff;
  padding: 20px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  animation: slideIn 1.5s ease-out;
}

.map-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  height: auto;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.map-container-small {
  position: absolute;
  width: 800px;
  height: 75vh;
  border: 1px solid var(--object-background-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: var(--text-color);
  background-color: var(--object-background-color);
}

.map-container-small-c {
  position: absolute;
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%); /* Корректировка позиции для точного центрирования */
  z-index: 1000; /* Убедитесь, что окно находится над другими элементами */
  background-color: var(--background-color); /* Добавьте фон, если необходимо */
  border-radius: 8px; /* Добавьте радиус границы, если хотите */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень под окном для улучшения визуального восприятия */
  width: 50%; /* Ширина окна */
  max-width: 800px; /* Максимальная ширина окна */
  height: 50%; /* Высота автоматически подгоняется под содержимое */
}

.map-wrapper {
  position: absolute;
  height: 100%;
  width: calc(100% - 256px);
  box-shadow: var(--box-shadow);
  background-color: var(--object-background-color);
}

.map-header {
  min-width: 100%;
  height: 30px;
  background: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.map-container {
  position: absolute;
  width: 100%;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  animation: slideIn 1.5s ease-out;
}

.map-container > div {
  height: 100%;
  width: 100%;
}

.map-container-form {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.registration-container-form {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 100px;
}

.reg-window-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  background-color: var(--background-color);
}

.pre-registration-container-form {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  margin-top: 250px;
  position: relative;
}

.pre-window-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h2 {
  padding: 20px;
  animation: slideIn 1.5s ease-out;
}

.desc {
  padding: 20px;
  animation: slideIn 1.5s ease-out;
  margin-bottom: 50px;
}

.window-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  gap: 100px;
}

.shadow-gradient-button {
  background: linear-gradient(to right, #008cba, #007b9a);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  font-family: 'Roboto', sans-serif;
  animation: slideIn 1.5s ease-out;
}

.shadow-gradient-button:hover {
  background: linear-gradient(to right, #007b9a, #008cba);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-button {
  background: linear-gradient(to right, #008cba, #007b9a);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: 'Roboto', sans-serif;
  animation: slideIn 4.5s ease-out;
}

.form-button:hover {
  background: linear-gradient(to right, #007b9a, #008cba);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

form input {
  width: 100%;
  height: 2%;
  padding: 15px 5%;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  outline: none;
  animation: slideIn 4.5s ease-out;
}

.for-reg {
  font-size: 14px;
  width: 1200px;
  display: inline-flex;
}

.h3-registr {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.image-map img {
  position: fixed;
  bottom: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.rsrp-image {
  position: absolute;
  width: 25%;
  height: 35%;
  top: 0;
  right: 0;
  z-index: 1010;
}
.switch-theme {
  border-radius: 20px;
  margin-left: auto;
  margin-top: 5px;
}

.disable {
  background-color: #707070;
  left: 1px;
}
.toggle-container-active {
  background-color: #ff4b2bcb;
  transition: all 0.2s ease;
}

.min-h-screen {
  background: var(--background-color);
}

.bg-white {
  background: var(--object-background-color);
  color: var(--text-color);
}

.application-block {
  border-color: var(--border-application-color);
  background-color: var(--background-color);
}
.main-button {
  background: var(--object-background-color);
  color: var(--icon-color);
  width: 2.5%;
}
.application-header {
  background-color: var(--object-header-background-color);
}

.main-header {
  box-shadow: 0 0 5px var(--border-main-header-color);
}

.sidebar {
  position: fixed;
  z-index: 26;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background: var(--background-color);
  border-right: 1px solid var(--border-main-header-color);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: calc(100% + 4px);
  min-height: 100%;
  padding: 7px 0 12px;
}

.sidebar-content-header {
  padding: 50px 12px 0;
}

.PopoverContent {
  border-radius: 15px;
  padding: 20px;
  width: 260px;
  background-color: white;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.PopoverContent:focus {
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
    0 0 0 2px var(--violet-7);
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.PopoverArrow {
  fill: white;
}

.PopoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 5px;
  right: 5px;
}
.PopoverClose:hover {
  background-color: var(--violet-4);
}
.PopoverClose:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
  background-color: var(--violet-3);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px black;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 13px;
  color: var(--violet-11);
  width: 75px;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 25px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.Text {
  margin: 0;
  color: var(--mauve-12);
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
}

.sidebar svg {
  stroke: var(--text-color);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
